/* 现在开始画个哆啦A梦吧*/

/* 首先去掉一些默认的样式 */
* {
    margin: 0;
    padding: 0;
}

/* 添加一个画板 */
.canvas {
    position: relative;
}

/* 在画板中添加机器猫 */
.canvas .doraemon {
    position: relative;
}

/* 现在开始画头部啦  */
.canvas .doraemon .head {
    width: 320px;
    height: 300px;
    position: relative;
    border-radius: 150px;
    background-color: #07bbea;
    border: 2px solid #555;
    z-index: 1;
}

/* 开始画眼睛咯  */
.canvas .doraemon .head .eyes {
    position: relative;
    z-index: 5;
}

/*  这里是添加眼白  */
.canvas .doraemon .head .eyes .eye {
    width: 72px;
    height: 82px;
    background-color: #fff;
    border: 2px solid #000;
    position: absolute;
    border-radius: 35px;
    top: 40px;
}

/*  这里是添加眼珠并且使眼珠会动哦  */

.canvas .doraemon .head .eyes .eye::after {
    content: '';
    width: 14px;
    height: 14px;
    background-color: #000;
    display: block;
    position: absolute;
    top: 40px;
    border-radius: 50%;
    animation: eyesmove 5s linear infinite;
}

.canvas .doraemon .head .eyes .left {
    left: 82px;
}

.canvas .doraemon .head .eyes .right {
    left: 156px;
}

.canvas .doraemon .head .eyes .left::after {
    left: 50px;
}

.canvas .doraemon .head .eyes .right::after {
    left: 7px;
}

@keyframes eyesmove {
    60% {
        margin: 0;
    }
    70% {
        margin: -22px 0 0 0;
    }
    75% {
        margin: -22px 0 0 -5px;
    }
    80% {
        margin: -22px 0 0 5px;
    }
    87% {
        margin: -22px 0 0 0;
    }
    90% {
        margin: 0;
    }
}

/* 添加白脸底  */

.canvas .doraemon .head .faces {
    position: relative;
}

.canvas .doraemon .head .faces .face {
    height: 195px;
    width: 265px;
    background-color: #fff;
    position: absolute;
    top: 75px;
    left: 25px;
    border-radius: 150px;
}

/* 鼻子哦 鼻子哦 */
.canvas .doraemon .head .faces .nose {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: #c93300;
    border: 2px solid #000;
    position: absolute;
    top: 110px;
    left: 140px;
    z-index: 4;
}

/*  鼻子中间的线  */
.canvas .doraemon .head .faces .nose-line {
    width: 3px;
    height: 100px;
    background-color: #000;
    position: absolute;
    top: 143px;
    left: 155px;
    z-index: 4;
}

/* 微笑的嘴巴  */
.canvas .doraemon .head .faces .mouth {
    width: 220px;
    height: 400px;
    border: none;
    border-bottom: 3px solid #000;
    border-radius: 120px;
    position: absolute;
    top: -160px;
    left: 45px;
}

/* 胡须 */
.canvas .doraemon .head .faces .whiskers {
    width: 220px;
    height: 80px;
    background-color: #fff;
    position: absolute;
    top: 120px;
    left: 45px;
    z-index: 2;
}

.canvas .doraemon .head .faces .whiskers .whisker {
    width: 60px;
    height: 2px;
    background-color: #000;
    position: absolute;
    left: 0;
}

.canvas .doraemon .head .faces .whiskers .right {
    left: 165px;
}

.canvas .doraemon .head .faces .whiskers .top {
    top: 25px;
}

.canvas .doraemon .head .faces .whiskers .middle {
    top: 45px;
}

.canvas .doraemon .head .faces .whiskers .bottom {
    top: 65px;
}

.canvas .doraemon .head .faces .whiskers .rotate160 {
    transform: rotate(160deg);
}

.canvas .doraemon .head .faces .whiskers .rotate20 {
    transform: rotate(20deg);
}

/*  铃铛  */
.canvas .doraemon .neck {
    width: 230px;
    height: 20px;
    background-color: #c40;
    border: 2px solid #000;
    border-radius: 10px;
    position: absolute;
    top: 270px;
    left: 45px;
    z-index: 4;
}

.canvas .doraemon .neck .bell {
    height: 40px;
    width: 40px;
    border: 2px solid #000;
    border-radius: 50%;
    background-color: #f9f12a;
    position: absolute;
    top: 5px;
    left: 90px;
}

.canvas .doraemon .neck .bell .bellTongue {
    width: 12px;
    height: 10px;
    background-color: #000;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 14px;
}

.canvas .doraemon .neck .bell::after {
    content: '';
    display: block;
    width: 36px;
    height: 2px;
    background-color: #f9f12a;
    border: 2px solid #333;
    position: absolute;
    top: 10px;
}

.canvas .doraemon .neck .bell::before {
    content: '';
    display: block;
    width: 3px;
    height: 15px;
    background-color: #000;
    position: absolute;
    top: 27px;
    left: 18px;
}

/* 开始画身体了 */
.canvas .doraemon .body {
    width: 220px;
    height: 165px;
    background-color: #07beea;
    border: 2px solid #333;
    position: absolute;
    left: 50px;
    top: 290px;
}

/* 口袋 */
.canvas .doraemon .body .pocket {
    width: 170px;
    height: 170px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 50%;
    position: absolute;
    top: -40px;
    left: 22px;
}

.canvas .doraemon .body .pocket::after {
    content: '';
    display: block;
    width: 130px;
    height: 130px;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid #000;
    position: absolute;
    top: 20px;
    left: 19px;
}

.canvas .doraemon .body .pocket::before {
    content: '';
    display: block;
    width: 134px;
    height: 60px;
    background-color: #fff;
    border-bottom: 2px solid #000;
    position: absolute;
    top: 28px;
    left: 19px;
    z-index: 1;
}

/* 手 */
.canvas .doraemon .body .hand {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0px;
}

.canvas .doraemon .body .hand.left {
    left: -72px;
}

.canvas .doraemon .body .hand.right {
    right: -72px;
}

.canvas .doraemon .body .hand .arm {
    width: 80px;
    height: 50px;
    background-color: #07bbea;
    border: 1px solid #000;
    z-index: -1;
    position: absolute;
    top: 0px;
}

.canvas .doraemon .body .hand.left .arm {
    left: 20px;
    transform: rotate(145deg);
}

.canvas .doraemon .body .hand.right .arm {
    transform: rotate(35deg);
}

.canvas .doraemon .body .hand .arm::after {
    content: '';
    display: block;
    width: 60px;
    height: 60px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 50%;
    position: absolute;
}

.canvas .doraemon .body .hand .write {
    width: 5px;
    height: 45px;
    background-color: #07bbea;
    border-radius: 2px;
    position: absolute;
}

.canvas .doraemon .body .hand.left .arm::after {
    left: 50px;
    bottom: -7px;
}

.canvas .doraemon .body .hand.right .arm::after {
    right: -33px;
    bottom: -7px;
}

.canvas .doraemon .body .hand.left .write {
    top: -5px;
    left: 67px;
}

.canvas .doraemon .body .hand.right .write {
    top: -5px;
    right: 67px;
}

/* 脚 */
.canvas .doraemon .footer {
    position: absolute;
}

.canvas .doraemon .footer .foot {
    width: 125px;
    height: 30px;
    background-color: #fff;
    border: 2px solid #333;
    border-radius: 80px 60px 60px 40px;
    position: absolute;
    top: 163px;
}

.canvas .doraemon .footer .left {
    left: -25px;
}

.canvas .doraemon .footer .right {
    left: 115px;
}

.canvas .doraemon .footer .write {
    width: 28px;
    height: 10px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 60px 60px 0 0;
    border-bottom: none;
    position: absolute;
    top: 155px;
    left: 95px;
}

/*# sourceMappingURL=main.css.map */
